# Ignore node modules
node_modules/

# Ignore compiled output
dist/
coverage/
random/
#*.js
#*.js.map

# Ignore TypeScript build info
*.tsbuildinfo

# Ignore folder fs file
.DS_Store
resources/android/**/*
resources/ios/**/*